<h1>new website</h1>

<% form_for(@website) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :href, 'href/address' %><br />
    <%= f.text_field :href %>
  </p>
  <p>
    <%= f.label :name, 'name' %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
