<h1>new alias</h1>

<% form_for(@alias) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.select :service_id, Service.map_name_and_id %><%= f.label :service_id, 'service' %>
		<%= link_to 'another', new_service_path %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
