<h1>New alias</h1>

<% form_for(@alias) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :service_id %><br />
    <%= f.select :service_id, Service.map_name_and_id %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
