<h1>parties</h1>

<table>


<% for party in @parties %>
  <tr>
    <td><%=h party.time.strftime("%I:%M %A %m/%d") %></td>
    <td>until <%=h party.until.strftime("%I:%M %p") %></td>
    <td>at <%= link_to_name party.target %></td>
    <td><%= link_to time_ago_in_words(party.time), party %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :party %>
