<h1>throw a party <%= 'at ' + link_to_name(@party.target) if @party.target %></h1>

<% form_for(@party) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.datetime_select :time %><%= f.label :time, 'starting time' %>
  </p>
  <p>
    <%= f.datetime_select :until %><%= f.label :until, 'closing time' %>
  </p>
  <% unless @party.target %>
	  <p>
	    <%= f.select :target_type, Party.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
