<h1>New party</h1>

<% form_for(@party) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :until %><br />
    <%= f.datetime_select :until %>
  </p>
  <% unless @party.target %>
	  <p>
	    <%= f.select :target_type, Party.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
