<p>
  <b>Time:</b>
  <%=h @party.time.strftime("%I:%M %p %A %m/%d") %>
</p>

<p>
  <b>Until:</b>
  <%=h @party.until.strftime("%I:%M %p") %>
</p>

<p>
  <b>location:</b>
  <%= link_to_name @party.target %>
</p>

<%= edit_link @party %>
<%= back_link %>
