<h1>messages</h1>

<table>
  <tr>
		<th>person</th>
    <th>Time</th>
    <th>Service</th>
    <th>Status</th>

  </tr>

<% for message in @messages %>
  <tr>
		<td><%= link_to_name message.person %></td>
    <td><%=h message.time.strftime("%I %p %A %d") %></td>
    <td><%= link_to_name message.service %></td>
    <td><%=h message.status %></td>

    <td><%= link_to 'show', message %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>
