<h1>schedule a message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

	<p>
		<%= f.label :person_id, 'I will write to' %>
		<%= f.select :person_id, Person.map_name_and_id %>
	</p>
  <p>
    <%= f.label :time, 'at' %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :service_id, 'on' %><br />
    <%= f.select :service_id, Service.map_name_and_id %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
