<% past = @message.time < Time.now %>

<p>
	you need<%= 'ed' if past %> to write a message to <%= link_to_name @message.person %>
	<% if past %>
	  <%= time_ago_in_words(@message.time) %> ago.
	<% else %>
		in <%= time_ago_in_words(@message.time) %>.
	<% end %>
	<br>
  <%=h @message.time.strftime("%I:%M %p on %A %m/%d") %>
</p>

<p>
  <%= link_to_name @message.service %>
</p>

<p>
  <%=h @message.status %>
</p>

<%= link_to_each @message, 'details', 'websites' %>

<%= new_links @message, 'detail', 'website_use' %>


<%= edit_link @message %>
<%= back_link %>
