<p>
  <b>Time:</b>
  <%=h @message.time %>
</p>

<p>
  <b>Service:</b>
  <%=h @message.service_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @message.status %>
</p>

<p>
  <b>Creator:</b>
  <%=h @message.creator_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
