<p>
  <b>Time:</b>
  <%=h @message.time.strftime("%I:%M %p on %A %m/%d") %>
</p>

<p>
  <b>Service:</b>
  <%= link_to_name @message.service %>
</p>

<p>
  <b>Status:</b>
  <%=h @message.status %>
</p>


<%= edit_link @message %>
<%= back_link %>
