<h1>txts</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Phone</th>
    <th>Status</th>

  </tr>

<% for txt in @txts %>
  <tr>
    <td><%=h txt.time.strftime("%I:%M %p %A %m/%d") %></td>
    <td><%= link_to_name txt.phone %></td>
    <td><%=h txt.status %></td>

    <td><%= link_to 'show', txt %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New txt', new_txt_path %>
