<h1>New txt</h1>

<% form_for(@txt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :phone_id %><br />
    <%= f.select :phone_id, Phone.map_name_and_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
