<p>
  <b>Time:</b>
  <%=h @txt.time.strftime("%I:%M %p %A %m/%d") %>
</p>

<p>
  <b>Phone:</b>
  <%= link_to_name @txt.phone %>
</p>

<p>
  <b>Status:</b>
  <%=h @txt.status %>
</p>




<%= link_to 'Edit', edit_txt_path(@txt) %> |
<%= back_link %>
