<h1>phones</h1>

<table>

<% for phone in @phones %>
  <tr>
    <td><%= link_to_name phone %></td>
    <td><%=h phone.country_code %></td>
    <td><%=h phone.area_code %></td>
    <td><%=h phone.number %></td>
		<td><%=h phone.extension %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :phone %>
