<p>
  <h2><%=h @phone.country_code %>  <%=h @phone.area_code %>  <%=h @phone.number %></h2>
  <%=h @phone.name %>
</p>

<%= link_to_each @phone, 'people_from_phone_uses' %>

<%= edit_link @phone %>
<%= back_link %>
