<p>
  <b>Number:</b>
  <%=h @phone.number %>
</p>

<p>
  <b>Area code:</b>
  <%=h @phone.area_code %>
</p>

<p>
  <b>Country code:</b>
  <%=h @phone.country_code %>
</p>

<p>
  <b>Name:</b>
  <%=h @phone.name %>
</p>

<%= edit_link @phone %>
<%= back_link %>
