<h1>invite a guest <%= 'to ' + link_to_name(@guest.target) if @guest.target %></h1>

<% form_for(@guest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :person_id, Person.map_name_and_id %>
  </p>
  <% unless @guest.target %>
	  <p>
	    <%= f.select :target_type, Guest.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  

  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
