<h1>person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :first_name, :size => 20 %><%= f.label :first_name, 'first name' %>
  </p>
  <p>
    <%= f.text_field :middle_name, :size => 20 %><%= f.label :middle_name, 'middle' %>
  </p>
  <p>
    <%= f.text_field :last_name, :size => 20 %><%= f.label :last_name, 'last' %>
  </p>
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
