<h1>person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= link_to 'back', people_path %>
