<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @person.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <%= link_to_name @person.user %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= back_link %>
