<p>
  <%=h @person.first_name %>
  <%=h @person.middle_name %>
  <%=h @person.last_name %>
</p>

<p>
  <%= link_to_name @person.user %>
</p>

<%= link_to_each @person, 'phones', 'emails', 'addresses', 'units', 'websites', 'calls', 'details', 'visits', 'guests', 'parties_from_guests', 'rendezvouzs_from_guests', 'visits_from_guests' %><%# , 'authorizations' %>

<%= new_links @person, 'authorization', 'phone_use', 'email_use', 'address_use', 'website_use', 'alias_use', 'call', 'detail', 'visit', 'guest' %>

<%= edit_link @person %>
<%= back_link %>
