<h1>new zip code</h1>

<% form_for(@zip) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name, :size => 8 %><%= f.label :name, 'zip code' %>
  </p>
  <p>
    <%= f.select :city_id, City.map_name_and_id, :include_blank => true %><%= f.label :city_id, 'city' %>
		<%= link_to 'list another city', new_city_path %>
  </p>
  <p>
    <%= f.select :state_id, State.map_name_and_id, :include_blank => true %><%= f.label :state_id, 'and/or state' %>
		<%= link_to 'list another state', new_state_path %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
