<h1><%= link_to_name(@address_use.target) + ' uses this' if @address_use.target %> address</h1>

<% form_for(@address_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address_id, 'choose address' %><br />
    <%= f.select :address_id, Address.map_name_and_id, :include_blank => true %>
		<%= link_to 'list another', new_address_path %>
  </p>
  <p>
    <%= f.label :unit_id, 'or unit' %><br />
    <%= f.select :unit_id, Unit.map_name_and_id, :include_blank => true %>
		<%= link_to 'list another', new_unit_path %>
  </p>
  <% unless @address_use.target %>
	  <p>
	    <%= f.select :target_type, AddressUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
