<h1>New address_use</h1>

<% form_for(@address_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address_id %><br />
    <%= f.select :address_id, Address.map_name_and_id %>
  </p>
  <p>
    <%= f.label :unit_id %><br />
    <%= f.select :unit_id, Unit.map_name_and_id %>
  </p>
  <% unless @address_use.target %>
	  <p>
	    <%= f.select :target_type, AddressUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
