<h1>Listing website_uses</h1>

<table>
  <tr>
    <th>Website</th>
    <th>Target type</th>
    <th>Target</th>
    <th>Creator</th>
  </tr>

<% for website_use in @website_uses %>
  <tr>
    <td><%=h website_use.website_id %></td>
    <td><%=h website_use.target_type %></td>
    <td><%=h website_use.target_id %></td>
    <td><%=h website_use.creator_id %></td>
    <td><%= link_to 'Show', website_use %></td>
    <td><%= link_to 'Edit', edit_website_use_path(website_use) %></td>
    <td><%= link_to 'Destroy', website_use, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New website_use', new_website_use_path %>
