<h1>New website_use</h1>

<% form_for(@website_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :website_id %><br />
    <%= f.text_field :website_id %>
  </p>
  <% unless @website_use.target %>
	  <p>
	    <%= f.select :target_type, WebsiteUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
