<h1>this website <%= 'is related to ' + link_to_name(@website_use.target) if @website_use.target %></h1>

<% form_for(@website_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :website_id, Website.map_name_and_id %>
  </p>
  <% unless @website_use.target %>
	  <p>
	    <%= f.select :target_type, WebsiteUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
