<h1>Listing visits</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Target type</th>
    <th>Target</th>
    <th>Creator</th>
  </tr>

<% for visit in @visits %>
  <tr>
    <td><%=h visit.time %></td>
    <td><%=h visit.target_type %></td>
    <td><%=h visit.target_id %></td>
    <td><%=h visit.creator_id %></td>
    <td><%= link_to 'Show', visit %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
    <td><%= link_to 'Destroy', visit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New visit', new_visit_path %>
