<h1>visits</h1>

<table>
  <tr>
    <th>earliest</th>
    <th>latest</th>

  </tr>

<% for visit in @visits %>
  <tr>
    <td><%=h visit.earliest_time.strftime("%I:%M %p %A %m/%d") %></td>
    <td><%=h visit.latest_time.strftime("%I:%M %p %A %m/%d") %></td>
    <td><%= link_to_name visit.target %></td>

    <td><%= link_to 'show', visit %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New visit', new_visit_path %>
