<h1>New visit</h1>

<% form_for(@visit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :earliest_time %><br />
    <%= f.datetime_select :earliest_time %>
  </p>
  <p>
    <%= f.label :latest_time %><br />
    <%= f.datetime_select :latest_time %>
  </p>

  <% unless @visit.target %>
	  <p>
	    <%= f.select :target_type, Visit.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
