<h1>plan a visit <%= ' to ' + link_to_name(@visit.target) if @visit.target %></h1>

<% form_for(@visit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.datetime_select :earliest_time %><%= f.label :earliest_time, 'the earliest I\'ll be there' %>
  </p>
  <p>
    <%= f.datetime_select :latest_time %><%= f.label :latest_time, 'the latest I\'ll arrive' %>
  </p>

  <% unless @visit.target %>
	  <p>
	    <%= f.select :target_type, Visit.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
