<p>
  <b>earliest:</b>
  <%=h @visit.earliest_time.strftime("%I:%M %p %A %m/%d") %>
</p>
<p>
  <b>latest:</b>
  <%=h @visit.latest_time.strftime("%I:%M %p %A %m/%d") %>
</p>
<p>

  <%= link_to_name @visit.target %>
</p>

<%= link_to_each @visit, 'guests' %>
<%= new_links @visit, 'guest' %>

<%= edit_link @visit %>
<%= back_link %>
