<h1>New phone_use</h1>

<% form_for(@phone_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :phone_id %><br />
    <%= f.text_field :phone_id %>
  </p>
  <% unless @phone_use.target %>
	  <p>
	    <%= f.select :target_type, PhoneUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
