<h1><%= link_to_name(@phone_use.target) + ' uses this ' if @phone_use.target %> phone</h1>

<% form_for(@phone_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :phone_id, Phone.map_name_and_id %>
  </p>
  <% unless @phone_use.target %>
	  <p>
	    <%= f.select :target_type, PhoneUse.targets(:select) %><%= link_to 'make another', new_phone_path %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
