<h1>Listing calls</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Target type</th>
    <th>Target</th>
    <th>Status</th>
    <th>Creator</th>
  </tr>

<% for call in @calls %>
  <tr>
    <td><%=h call.time %></td>
    <td><%=h call.target_type %></td>
    <td><%=h call.target_id %></td>
    <td><%=h call.status %></td>
    <td><%=h call.creator_id %></td>
    <td><%= link_to 'Show', call %></td>
    <td><%= link_to 'Edit', edit_call_path(call) %></td>
    <td><%= link_to 'Destroy', call, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New call', new_call_path %>
