<h1>New call</h1>

<% form_for(@call) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <% unless @call.target %>
	  <p>
	    <%= f.select :target_type, Call.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  

  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
