<p>
  <b>Time:</b>
  <%=h @call.time.strftime("%I:%M %p %A %m/%d") %>
</p>

<p>
  <%= link_to_name @call.target %>
</p>

<p>
  <b>Status:</b>
  <%=h @call.status %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= back_link %>
