<p>
  <b><%=h @user.login %></b>  
</p>

<%= link_to 'add someone\'s name', new_person_path %>
<%= link_to 'add a phone number', new_phone_path %>
<%= link_to 'list a service', new_service_path %>
<%= link_to 'mention an establishment', new_establishment_path %>
<%= link_to 'locate a country', new_country_path %>
<hr>
<%= link_to 'plan a party', new_party_path %>
<%= link_to 'schedule a call', new_call_path %>


<p>
  logged in <%=h @user.login_count %> times
</p>

<p>
  active <%= time_ago_in_words @user.last_request_at %> ago
</p>

<p>
  logged in since <%= time_ago_in_words @user.current_login_at %> ago 
</p>

<p>
	also logged in <%= time_ago_in_words @user.last_login_at %> ago
</p>

<%= back_link %>
