<h1>new state</h1>

<% form_for(@state) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.select :country_id, Country.map_name_and_id %><%= f.label :country_id, 'country' %>
		<%= link_to 'add country', new_country_path %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
