<p>
  <%=h @state.name %>
</p>

<%= link_to_each @state, 'cities', 'zips' %>
<%= new_links @state, 'city', 'zip' %>
<p>
  <%= link_to_name @state.country %>
</p>

<%= edit_link @state %>
<%= back_link %>
