<h1>Editing street</h1>

<% form_for(@street) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.text_field :city_id %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @street %> |
<%= back_link %>
