<h1>new street</h1>

<% form_for(@street) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %><%= f.label :name, 'street name' %>
  </p>
  <p>
    <%= f.select :city_id, City.map_name_and_id %><%= f.label :city_id, 'city' %>
		<%= link_to 'list another city', new_city_path %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
