<p>
  <b>Name:</b>
  <%=h @street.name %>
</p>

<p>
  <b>City:</b>
  <%=h @street.city_id %>
</p>

<p>
  <b>Creator:</b>
  <%=h @street.creator_id %>
</p>


<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>
