<h1><%= link_to_name(@email_use.target) + ' uses this ' if @email_use.target %>email</h1>

<% form_for(@email_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :email_id, Email.map_name_and_id %>
  </p>
  <% unless @email_use.target %>
	  <p>
	    <%= f.select :target_type, EmailUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
