<h1>addresses</h1>

<table>

<% for address in @addresses %>
  <tr>
    <td><%= link_to address.street_number, address %></td>
    <td><%= link_to_name address.street %></td>
    <td><%=h address.line2 %></td>
    <td><%= link_to_name address.zip %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new address', new_address_path %>
