<p>
  <%=h @address.street_number %>
  <%= link_to_name @address.street %>
</p>

<p>
  <%=h @address.line2 %>
</p>

<p>
  <%= link_to_name @address.zip %>
</p>

<%= edit_link @address %>
<%= back_link %>
