<p>
  <%=h @address.street_number %>
  <%= link_to_name @address.street %>
</p>

<p>
  <b>Line2:</b>
  <%=h @address.line2 %>
</p>

<p>
  <%= link_to_name @address.zip %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= back_link %>
