<p>
  <%=h @address.street_number %>
  <%= link_to_name @address.street %>
</p>

<p>
  <%=h @address.line2 %>
</p>

<p>
  <%= link_to_name @address.zip %>
</p>

<%= link_to_each @address, 'details', 'parties', 'phones', 'rendezvouzs', 'websites', 'visits', 'guests', 'units' %>

<%= new_links @address, 'unit', 'detail', 'party', 'phone_use', 'rendezvouz', 'website_use', 'visit' %>

<%= edit_link @address %>
<%= back_link %>
