<p>
  <%=h @country.name %>
</p>
<%= link_to 'new state', new_country_state_path(@country) %><br>

<%= link_to_each @country, 'states', 'cities', 'details', 'websites', 'guests', 'zips' %>
<%= new_links @country, 'state', 'detail', 'website_use', 'visit' %>

<%= edit_link @country %>
<%= back_link %>
