<h1>new apartment/unit</h1>

<% form_for(@unit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :number, :size => 5 %><%= f.label :number, 'apartment/unit number' %>
  </p>
  <p>
    <%= f.select :address_id, Address.map_name_and_id %><%= f.label :address_id, 'your address' %>
    <%= link_to 'add this address', new_address_path %>
  </p>
  <p>
    <%= f.text_field :line2, :size => 12 %><%= f.label :line2, 'line 2' %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
