<p>
  <b>Number:</b>
  <%=h @unit.number %>
</p>

<p>
  <b>Address:</b>
  <%=h @unit.address_id %>
</p>

<p>
  <b>Line2:</b>
  <%=h @unit.line2 %>
</p>

<p>
  <b>Creator:</b>
  <%=h @unit.creator_id %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
