<h1><%= link_to_name(@alias_use.target) + ' uses this' if @alias_use.target %> alias</h1>

<% form_for(@alias_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :alias_id, Alias.map_name_and_id %>
  </p>
  <% unless @alias_use.target %>
	  <p>
	    <%= f.select :target_type, AliasUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  

  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
