<h1>New alias_use</h1>

<% form_for(@alias_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :alias_id %><br />
    <%= f.text_field :alias_id %>
  </p>
  <% unless @alias_use.target %>
	  <p>
	    <%= f.select :target_type, AliasUse.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  

  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
