<p>
  <b>Alias:</b>
  <%=h @alias_use.alias_id %>
</p>

<p>
  <b>Target type:</b>
  <%=h @alias_use.target_type %>
</p>

<p>
  <b>Target:</b>
  <%=h @alias_use.target_id %>
</p>

<p>
  <b>Creator:</b>
  <%=h @alias_use.creator_id %>
</p>


<%= link_to 'Edit', edit_alias_use_path(@alias_use) %> |
<%= link_to 'Back', alias_uses_path %>
