<h1>new city</h1>

<% form_for(@city) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.select :state_id, State.map_name_and_id %><%= f.label :state_id, 'state' %>
		<%= link_to 'add my state', new_state_path %>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
