<p>
  <%=h @city.name %>
</p>

<%= link_to_each @city, 'streets', 'zips', 'addresses', 'details', 'emails', 'phones', 'websites', 'visits', 'guests' %>

<%= new_links @city, 'street', 'zip', 'detail', 'email_use', 'phone_use', 'website_use', 'visit' %>

<p>
  <%= link_to_name @city.state %>
</p>

<%= edit_link @city %>
<%= back_link %>
