<h1>authorizations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Target type</th>
    <th>Target</th>

  </tr>

<% for authorization in @authorizations %>
  <tr>
    <td><%= link_to_name authorization.user %></td>
    <td><%=h authorization.target_type %></td>
    <td><%= link_to_name authorization.target %></td>

    <td><%= link_to 'show', authorization %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New authorization', new_authorization_path %>
