<h1>New authorization</h1>

<% form_for(@authorization) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <% unless @authorization.target %>
	  <p>
	    <%= f.select :target_type, Authorization.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  

  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= back_link %>
