<p>
  <%= link_to_name @authorization.user %>
  <%= link_to_name @authorization.target %>
</p>

<%= link_to_each @authorization, 'people', 'phones', 'details' %>

<%= edit_link @authorization %>
<%= back_link %>
