<h1>details</h1>

<table>

<% for detail in @details %>
  <tr>
    <td><%=h detail.content %></td>
    <td><%=h detail.target_type %></td>
    <td><%= link_to_name detail.target %></td>
    <td><%= link_to 'show', detail %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new detail', new_detail_path %>
