<h1>spill it <%= 'about ' + link_to_name(@detail.target) if @detail.target %></h1>

<% form_for(@detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :content, :size => '40x5' %>
  </p>
  <% unless @detail.target %>
	  <p>
	    <%= f.select :target_type, Detail.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  

  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
