<p>
  <%=h @detail.content %>
</p>

<p>
  <b>Target type:</b>
  <%=h @detail.target_type %>
</p>

<p>
  <%= link_to_name @detail.target %>
</p>

<%= link_to_each @detail, 'websites', 'users' %>
<%= new_links @detail, 'website_use', 'authorization' %>

<%= edit_link @detail %>
<%= back_link %>
