<h1>Editing establishment</h1>

<% form_for(@establishment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @establishment %> |
<%= back_link %>
