<h1>one of my fave establishments</h1>

<% form_for(@establishment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %><%= f.label :name, 'just the name'%>
  </p>
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
