<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>treat women well</title>

	<%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'compiled/print.css', :media => 'print' %>
	  <!--[if IE]>
	    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %>
		<![endif]-->
  <%= stylesheet_link_tag 'who_you_gonna_call', 'sass_base' %>
</head>
<body>
	<div id="navigation">
		<% %w[ people calls rendezvouzs details messages txts parties guests websites aliases phones services emails establishments cities visits streets addresses units states address_uses website_uses alias_uses email_uses phone_uses countries zips users authorizations ].each do |m| %>
		  <%= link_to m, "/#{m}", :class => 'nav' %>
		<% end %>
	</div>
	<div id="login_stuff">
		<% if current_user %>
		  <%= link_to 'logout', logout_path %>
		<% else %>
		  <%= link_to 'log in', login_path %>|
		  <%= link_to 'sign up', signup_path %>
		<% end %>
	</div>
	<%= yield %>
</body>
<html>