<h1>plan a rendezvouz <%= ' at ' + link_to_name(@rendezvouz.target) if @rendezvouz.target %></h1>

<% form_for(@rendezvouz) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.datetime_select :time %><%= f.label :time, 'meeting time' %>
  </p>
  <% unless @rendezvouz.target %>
	  <p>
	    <%= f.select :target_type, Rendezvouz.targets(:select) %>
	  </p>
	  <p>
	    <%= f.label :target_id %>
	    <%= f.text_field :target_id %>
	  </p>
  <% else %>
	  <%= f.hidden_field :target_type %>
	  <%= f.hidden_field :target_id %>
  <% end %>  
  
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= back_link %>
