<p>
  <b>time:</b>
  <%=h @rendezvouz.time.strftime("%I:%M %p %A %m/%d") %>
</p>

<p>
  <b>location:</b>
  <%= link_to_name @rendezvouz.target %>
</p>

<%= link_to_each @rendezvouz, 'guests', 'websites' %>
<%= new_links @rendezvouz, 'guest', 'website_use' %>

<%= edit_link @rendezvouz %>
<%= back_link %>
